<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <transition name="fade" appear>      
                        <img src="/imagem/cavaleiro.jpg" alt=""  v-for="item in turns" :key="item.text">
                    
                    
                </transition> 
               
                <div class="healthbar" >
                    <div class="healthbar text-center" v-bind:style="{width:playerHealth +'%'}" style="background-color: green; margin: 0; color: white;">
                        
                        {{playerHealth}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <transition name="fade" appear>
                 
                        <img src="/imagem/monster.png" alt=""  v-for="item in turns" :key="item.text">
                    
                  
                </transition> 
                <div class="healthbar">
                    <div class="healthbar text-center" :style="{width:monsterhealth +'%'}" style="background-color: green; margin: 0; color: white;">
                        {{monsterhealth}}
                    </div>
                </div>
            </div>
        </section>
        <section class="row controls" v-if="!gameIsRunning">
            <div class="small-12 columns">
                <button @click="startGame"id="start-game">START NEW GAME</button>
            </div>
        </section>
        <section class="row controls" v-else>
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                <button id="heal" @click="heath">HEAL</button>
                <button id="give-up" @click="giveUp">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <transition-group name="fade" appear>
                    <li v-for="item in turns" :key="item.text" :class="{'player-turn': item.isplayer, 'monster-turn': !item.isplayer, }">
                        {{item.text}}
                        
                    </li>
                </transition-group>
                </ul>
            </div>
        </section>
    </div>
    <style>
        .fade-enter-active{
          
            transition: opacity 1.5s;
        }
        .fade-enter{
            opacity: 0;
        }
    </style>
    <script>
        new Vue({
            el:"#app",
            data:{
                playerHealth:100,
                monsterhealth:100,
                gameIsRunning:false,
                turns:[],
                create_id:0
            },
            methods:{
                startGame: function(){
                   this.gameIsRunning=true;
                   this.playerHealth=100;
                   this.monsterhealth=100;
                   this.turns=[]
                },
                attackturn(){
                    damege = this.calcularDemage(3,11);
                    damegeplayer = this.calcularDemage(3,10);
                    this.turns.unshift({
                        id:this.create_id,
                        isplayer: true,
                        text:'Moster hits player for  ' +  damege
                    })
                    this.turns.unshift({
                        isplayer: false,
                        text:'Player hits player for  ' +  damegeplayer
                
                    })
                },
                specialAttackturns(){
                    demage = this.calcularDemage(3,30);
                    demageplayer = this.calcularDemage(3,10);
                    this.turns.unshift({
                    isplayer: true,
                    text:'Moster hits player for  ' +  demage,
                    
                    })
                    this.turns.unshift({
                        isplayer: false,
                        text:'Player hits player for  ' +  demageplayer
                
                    })
                },
                heathturns(){
                    heath = this.calcularDemage(3,30);
                    heath2 = this.calcularDemage(3,10);
                    this.turns.unshift({
                        isplayer: true,
                        text:'Moster hits player for  ' +  heath
                
                    })
                    this.turns.unshift({
                        isplayer: false,
                        text:'Player hits player for  ' +  heath2
                
                    })
                },
                attack: function(){   
                    this.attackturn();
                    this.monsterhealth-=this.calcularDemage(3,11);
                    this.playerHealth-=this.calcularDemage(3,10);
                    if (this.monsterhealth <=0){
                        this.monsterhealth=0;
                        alert("ganhou")
                        this.gameIsRunning = false;
                    }
                    if (this.playerHealth <=0){
                        this.playerHealth=0;
                        alert("perdeu")
                        this.gameIsRunning = false;
                    }
                },
                specialAttack:function(){
                    this.specialAttackturns();
                    this.monsterhealth-=this.calcularDemage(3,30);
                    if (this.monsterhealth <=0){
                        this.monsterhealth=0;
                        alert("ganhou")
                        this.gameIsRunning = false;
                    } 
                    this.playerHealth-=this.calcularDemage(3,10);
                    if (this.playerHealth <=0){
                        this.playerHealth=0;
                        alert("perdeu")
                        this.gameIsRunning = false;
                    }

                },
                heath:function(){
                    this.heathturns();
                    this.monsterhealth+=this.calcularDemage(3,30);
                    if (this.monsterhealth >=100){
                        this.monsterhealth=100
                         
                    }
                    this.playerHealth+=this.calcularDemage(3,10);
                    if (this.playerHealth >=100){
                      this.playerHealth = 100    
                    }
                },
                giveUp: function(){
                    alert('nem pensar nisso')
                    this.gameIsRunning = false;
                },
                calcularDemage(minimo,maximo){
                    return  Math.max(Math.floor(Math.random()*maximo)+1,minimo);
               }
            }
        })
    </script>
</body>
</html>